@charset "UTF-8";

*{
margin:0;
padding:0;
}
/*sub nav바
===========================*/
#booking_sub_nav{
	padding:0 10px 0 310px;
	height: 40px;
	background-color:white;
	
}
#booking_sub_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#booking_sub_nav ul li{
	display:inline-block;
	width:80px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
}
	
/*booking form
==========================*/
.booking-main{
	width:1000px;
	min-height:400px;
	margin:0;
	padding:0;
	background:white;
}
.booking-header{
	background:black;
}
.booking-header div{
	width:300px;
	float:left;
}
form{
	border:none;
	width:1000px;
	margin:0;
	padding:0;
}
.booking-form-left{
	width:550px;
	float:left;

}
.booking-form-right{
	width:450px;
	float:right;

}
.booking-form-right .form1 .schedule-info,
.booking-form-right .form2 .schedule-info{
	background:black;

}
.booking-form-right .form1 .schedule-info p,
.booking-form-right .form2 .schedule-info p{
	color:white;
}
.seat{
	line-height:0.5;
}
.input-form{
	height: 300px;
	overflow-y: scroll;
}
.clickable{
	background:lightgreen;
}
.clickable:hover{
	cursor:pointer
	
}
.selected-seat{
	background:blue;
}
.booked-seat{
	background:grey;
}