@charset "UTF-8";

*{
margin:0;
padding:0;
}
/*booking form
==========================*/
.booking-main{
	width:1000px;
	min-height:400px;
	margin:0;
	padding:0;
	background:white;
}
.booking-header{
	background:black;
}
.booking-header div{
	width:300px;
	float:left;
}
form{
	border:none;
	width:1000px;
	margin:0;
	padding:0;
}
.booking-form-left{
	width:550px;
	float:left;

}
.booking-form-right{
	width:450px;
	float:right;

}
.booking-form-right .form1 .schedule-info,
.booking-form-right .form2 .schedule-info{
	background:black;

}
.booking-form-right .form1 .schedule-info p,
.booking-form-right .form2 .schedule-info p{
	color:white;
}
.seat{
	line-height:0.5;
}
.selected-seat{
	background:blue;
}
