@charset "UTF-8";

*{
margin:0;
padding:0;
}
/*sub nav바
===========================*/
#booking_sub_nav{
	padding:0 10px 0 310px;
	height: 40px;
	background-color:white;
	
}
#booking_sub_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#booking_sub_nav ul li{
	display:inline-block;
	width:80px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
}
	
/*booking form
==========================*/
.booking-main{
	width:1000px;
	min-height:400px;
	margin:0;
	padding:0;
	background:white;
}
.booking-header{
	background:black;
}
.booking-header div{
	width:300px;
	float:left;
}
form{
	border:none;
	width:1000px;
	margin:0;
	padding:0;
}
.booking-form-left{
	width:550px;
	float:left;

}
.booking-form-right{
	width:450px;
	float:right;

}
.booking-form-right .form1 .schedule-info,
.booking-form-right .form2 .schedule-info{
	background:black;
	text-align:center;
	font-size:20px;


}
.booking-form-right .form1 .schedule-info p,
.booking-form-right .form2 .schedule-info p{
	color:white;
}
.seat{
	line-height:0.5;
}
.input-form{
	height: 300px;
	overflow-y: scroll;
}
.clickable{
	background:lightgreen;
}
.clickable:hover{
	cursor:pointer
	
}
.selected-seat{
	background:blue;
}
.booked-seat{
	background:grey;
}
.booking-ctg-btn{
	width:80px;
	height:30px;
	background:white;
	border-radius:3px;
	border:1px solid black;
	cursor:pointer;
}
.each-match{
	border:1px solid black;
	border-radius:3px;
	width:180px;
	height:100px;
	margin:10px 10px 10px 5px;
		display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.each-match-btn-cover{
	width:182px;
	height:50px;
	text-align: center;
}
.each-match-btn{
	width:182px;
	height:25px;
	background:skyblue;
	cursor:pointer;
	border-radius:3px;
	border:none;
	margin:0 10px 10px 5px;
}
.seat{
	width:500px;
}
.seat td{
	width:33px;
}
.listOfSeat{
	overflow:auto;
	height:50px;
}
#listOfSeat{
	height:200px;
	overflow:auto;
	padding-left:20px;
}
.my-select-info1{
	float:left;
	font-weight:bold;
	margin-left:10px;
}
.my-select-info2{
	float:right;
	font-size:10px;
	line-height:25px;
	margin-right:10px;
}
.booking-form-right .form1{
	background:rgb(224, 224, 224);
	height:325px;
}
.toNext{
	width:400px;
	height:25px;
	clear:both;
	margin:10px 30px 0 25px;
	background:red;
	color:white;
	border:none;
	border-radius:3px;
}
.toBefore{
	width:170px;
	float:left;
	height:25px;
	background:white;
	margin-left:25px;
	border-radius:3px;
	border:none;
	margin-right:10px;
}
#reselect{
	float:right;
	width:170px;
	height:25px;
	background:white;
	cursor:pointer;
	border-radius:3px;
	border:none;
	margin-right:25px;

}
.table-form2{
	width:90%;
	border:none;
}
.table-form2 td{
	border:none;
}
.booking-form-right .form2{
	background:rgb(224, 224, 224);
	height:325px;
	padding:10px;
}
.booking-form-right .form3{
	background:rgb(224, 224, 224);
	height:325px;
	padding:10px;
}
.booking-form-right .form4{
	background:rgb(224, 224, 224);
	height:325px;
	padding:10px;
}
.booking-form-left .form4{
	padding:10px;
}
.toBefore2{
	width:170px;
	float:left;
	height:25px;
	background:white;
	margin-left:25px;
	border-radius:3px;
	border:none;
	margin-right:10px;
}
.toNext2{
	width:170px;
	float:left;
	height:25px;
	background:red;
	color:white;
	margin-left:25px;
	border-radius:3px;
	border:none;
	margin-right:10px;
}
