@charset "UTF-8";


/*sub nav바
===========================*/
#match_sub_nav{
	padding:0 10px 0 200px;
	height: 40px;
	background-color:white;
}
#match_sub_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#match_sub_nav ul li{
	display:inline-block;
	width:80px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
}
	