@charset "UTF-8";

#member_sub_nav{
	padding:0 10px 0 330px;
	height:40px;
	background-color:white;
}
#member_sub_nav ul{
	list-style:none;
	margin:0;
	padding:0;
}
#member_sub_nav ul li{
	display:inline-block;
	width:110px;
	text-align:center;
	vertical-align:middle;
	padding-top:8px;
}
#choice{
	width:800px;
}
#normal_mem{
	width:400px;
	height:300px;
	background:red;
	color:white;
	float:left
}
#col_mem{
	width:400px;
	height:300px;
	background:black;
	color:white;
	float:left
}