.likeicon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.likeicon:hover {
    transform: scale(1.1);
}

.detail-sub li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.alignToright {
    justify-content: flex-end;
}

#modify-date{
	text-align:left;
	line-height:250%;
}



#likecount, #dislikecount {
    margin-left: 8px;
    font-size: 16px;
}
.likecountcontrol{
	margin: 10px 10px 10px 10px;
}

input[type="button"] {
    background-color: #4CAF50; /* 버튼의 배경색 */
    border: none; /* 테두리 제거 */
    color: white; /* 글자색 */
    padding: 1px 2px; /* 상하, 좌우 패딩 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 장식 제거 */
    display: inline-block; /* 인라인 블록으로 표시 */
    font-size: 16px; /* 폰트 크기 */
    margin: 2px 1px; /* 마진 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    border-radius: 5px; /* 버튼의 모서리 둥글게 */
}

input[type="button"]:hover {
    background-color: #45a049; /* 마우스 오버 시 버튼의 배경색 변경 */
}


.page-main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.content-main2 {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content-main2 input[type="text"],
.content-main2 input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
}

.content-main2 input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

.content-main2 input[type="submit"]:hover {
    background-color: #0056b3;
}
